<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typesupply.defcon.sortDescriptor</key>
	<array>
		<dict>
			<key>glyphs</key>
			<array>
				<string>space</string>
				<string>exclam</string>
				<string>quotesingle</string>
				<string>quotedbl</string>
				<string>numbersign</string>
				<string>dollar</string>
				<string>percent</string>
				<string>ampersand</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>asterisk</string>
				<string>plus</string>
				<string>comma</string>
				<string>hyphen</string>
				<string>period</string>
				<string>slash</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>less</string>
				<string>equal</string>
				<string>greater</string>
				<string>question</string>
				<string>at</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>bracketleft</string>
				<string>backslash</string>
				<string>bracketright</string>
				<string>asciicircum</string>
				<string>underscore</string>
				<string>grave</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>braceleft</string>
				<string>bar</string>
				<string>braceright</string>
				<string>asciitilde</string>
				<string>exclamdown</string>
				<string>cent</string>
				<string>sterling</string>
				<string>currency</string>
				<string>yen</string>
				<string>brokenbar</string>
				<string>section</string>
				<string>copyright</string>
				<string>ordfeminine</string>
				<string>guillemotleft</string>
				<string>logicalnot</string>
				<string>registered</string>
				<string>macron</string>
				<string>degree</string>
				<string>plusminus</string>
				<string>twosuperior</string>
				<string>threesuperior</string>
				<string>mu</string>
				<string>paragraph</string>
				<string>periodcentered</string>
				<string>onesuperior</string>
				<string>ordmasculine</string>
				<string>guillemotright</string>
				<string>onequarter</string>
				<string>onehalf</string>
				<string>threequarters</string>
				<string>questiondown</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Aring</string>
				<string>AE</string>
				<string>Ccedilla</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>Eth</string>
				<string>Ntilde</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>multiply</string>
				<string>Oslash</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>Yacute</string>
				<string>Thorn</string>
				<string>germandbls</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>atilde</string>
				<string>adieresis</string>
				<string>aring</string>
				<string>ae</string>
				<string>ccedilla</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>eth</string>
				<string>ntilde</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>divide</string>
				<string>oslash</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>yacute</string>
				<string>thorn</string>
				<string>ydieresis</string>
				<string>dotlessi</string>
				<string>gravecomb</string>
				<string>acutecomb</string>
				<string>uni0302</string>
				<string>uni0308</string>
				<string>uni030A</string>
				<string>tildecomb</string>
				<string>uni0327</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>minus</string>
			</array>
			<key>name</key>
			<string>Latin-default</string>
			<key>type</key>
			<string>glyphSet</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>exclam</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>dotlessi</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni0302</string>
		<string>uni0308</string>
		<string>uni030A</string>
		<string>tildecomb</string>
		<string>uni0327</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>minus</string>
		<string>uniFF11</string>
		<string>Cacute</string>
		<string>tcaron</string>
		<string>uniFF12</string>
		<string>Gdotaccent</string>
		<string>gcircumflex</string>
		<string>Ibreve</string>
		<string>dieresis</string>
		<string>dcroat</string>
		<string>Ecaron</string>
		<string>uni0213</string>
		<string>uniFF19</string>
		<string>Lcaron</string>
		<string>twothirds</string>
		<string>uni0410</string>
		<string>Rcaron</string>
		<string>gdotaccent</string>
		<string>imacron</string>
		<string>uni0431</string>
		<string>uni0146</string>
		<string>uni2150</string>
		<string>uni042E</string>
		<string>Abreve</string>
		<string>Zcaron</string>
		<string>uni2080</string>
		<string>oneeighth</string>
		<string>uni1E9E</string>
		<string>uniFF13</string>
		<string>Obreve</string>
		<string>Nacute</string>
		<string>uni2083</string>
		<string>Imacron</string>
		<string>adieresis.alt</string>
		<string>aogonek.alt</string>
		<string>seveneighths</string>
		<string>threeeighths</string>
		<string>uniFF14</string>
		<string>Dcroat</string>
		<string>uni0434</string>
		<string>uni044D</string>
		<string>ij</string>
		<string>uni0212</string>
		<string>uni041E</string>
		<string>uni0442</string>
		<string>Jcircumflex</string>
		<string>hbar</string>
		<string>Amacron</string>
		<string>edotaccent</string>
		<string>Iogonek</string>
		<string>caron</string>
		<string>uni2082</string>
		<string>uni0411</string>
		<string>uni045E</string>
		<string>uni0432</string>
		<string>onethird</string>
		<string>uni2157</string>
		<string>Gcircumflex</string>
		<string>uni0428</string>
		<string>uni040D</string>
		<string>uni044B</string>
		<string>uni043A</string>
		<string>uni0449</string>
		<string>uni013C</string>
		<string>lacute</string>
		<string>uni045D</string>
		<string>uni0415</string>
		<string>uni013B</string>
		<string>trademark</string>
		<string>uni0123</string>
		<string>ibreve</string>
		<string>uni043F</string>
		<string>uni0137</string>
		<string>uni0219</string>
		<string>bullet</string>
		<string>scedilla</string>
		<string>jcircumflex</string>
		<string>uni041A</string>
		<string>quotedblright</string>
		<string>uni040E</string>
		<string>uni041D</string>
		<string>uni0145</string>
		<string>kgreenlandic</string>
		<string>uni0400</string>
		<string>uni0403</string>
		<string>figuredash</string>
		<string>ubreve</string>
		<string>uni043D</string>
		<string>dagger</string>
		<string>uni00B3</string>
		<string>amacron</string>
		<string>uni0433</string>
		<string>quotesinglbase</string>
		<string>Scedilla</string>
		<string>uni0413</string>
		<string>uni0425</string>
		<string>uni0414</string>
		<string>uni203D</string>
		<string>iogonek</string>
		<string>uni2075</string>
		<string>acircumflex.alt</string>
		<string>ellipsis</string>
		<string>uni044F</string>
		<string>ecaron</string>
		<string>dotaccent</string>
		<string>Lslash</string>
		<string>uni042C</string>
		<string>uni0445</string>
		<string>pi</string>
		<string>OE</string>
		<string>breve</string>
		<string>napostrophe</string>
		<string>omacron</string>
		<string>cdotaccent</string>
		<string>uni2155</string>
		<string>uni044C</string>
		<string>uni0441</string>
		<string>acute</string>
		<string>ring</string>
		<string>guilsinglright</string>
		<string>Edotaccent</string>
		<string>uni041F</string>
		<string>uni0439</string>
		<string>Hcircumflex</string>
		<string>uni2156</string>
		<string>quotedblleft</string>
		<string>uni0436</string>
		<string>uni2086</string>
		<string>uni043E</string>
		<string>uni2089</string>
		<string>uni0435</string>
		<string>uni2084</string>
		<string>uni0443</string>
		<string>lcaron</string>
		<string>uni2087</string>
		<string>Tcaron</string>
		<string>uni2085</string>
		<string>uni0420</string>
		<string>oe</string>
		<string>uniFF17</string>
		<string>zdotaccent</string>
		<string>uni0448</string>
		<string>ebreve</string>
		<string>Cdotaccent</string>
		<string>uni215A</string>
		<string>Ebreve</string>
		<string>Wcircumflex</string>
		<string>uni0444</string>
		<string>Zacute</string>
		<string>scircumflex</string>
		<string>uni042B</string>
		<string>uni00B9</string>
		<string>uni2079</string>
		<string>uring</string>
		<string>uni044A</string>
		<string>Dcaron</string>
		<string>ogonek</string>
		<string>uni0453</string>
		<string>endash</string>
		<string>Scaron</string>
		<string>uni0451</string>
		<string>uni2076</string>
		<string>uni021B</string>
		<string>nacute</string>
		<string>ccircumflex</string>
		<string>uni2031</string>
		<string>uniFF18</string>
		<string>uniFF15</string>
		<string>uni2081</string>
		<string>Euro</string>
		<string>aring.alt</string>
		<string>uni042D</string>
		<string>tilde</string>
		<string>Emacron</string>
		<string>uni043C</string>
		<string>uni040C</string>
		<string>daggerdbl</string>
		<string>uni0446</string>
		<string>cedilla</string>
		<string>Ydieresis</string>
		<string>uni0437</string>
		<string>uni042A</string>
		<string>uni2151</string>
		<string>uni0429</string>
		<string>uni0438</string>
		<string>Ncaron</string>
		<string>Scircumflex</string>
		<string>uni0419</string>
		<string>cacute</string>
		<string>uni0424</string>
		<string>uni2070</string>
		<string>fraction</string>
		<string>aogonek</string>
		<string>uni2078</string>
		<string>uniFF10</string>
		<string>umacron</string>
		<string>emacron</string>
		<string>Eogonek</string>
		<string>circumflex</string>
		<string>uni021A</string>
		<string>uni041B</string>
		<string>uni0416</string>
		<string>Omacron</string>
		<string>Utilde</string>
		<string>uniFF16</string>
		<string>Ccircumflex</string>
		<string>rcaron</string>
		<string>Racute</string>
		<string>uni0417</string>
		<string>uni00A0</string>
		<string>Hbar</string>
		<string>uni0423</string>
		<string>agrave.alt</string>
		<string>uni2077</string>
		<string>uni0401</string>
		<string>uni0421</string>
		<string>gbreve</string>
		<string>uni044E</string>
		<string>Ubreve</string>
		<string>amacron.alt</string>
		<string>Sacute</string>
		<string>Uring</string>
		<string>Itilde</string>
		<string>Zdotaccent</string>
		<string>ldot</string>
		<string>Idotaccent</string>
		<string>eogonek</string>
		<string>obreve</string>
		<string>IJ</string>
		<string>uni042F</string>
		<string>emdash</string>
		<string>uni0122</string>
		<string>Lacute</string>
		<string>uni0447</string>
		<string>ycircumflex</string>
		<string>abreve.alt</string>
		<string>ccaron</string>
		<string>uni2074</string>
		<string>atilde.alt</string>
		<string>Umacron</string>
		<string>uni045C</string>
		<string>uni0218</string>
		<string>uni00AD</string>
		<string>racute</string>
		<string>uni043B</string>
		<string>uni0440</string>
		<string>perthousand</string>
		<string>hcircumflex</string>
		<string>Ccaron</string>
		<string>uni0412</string>
		<string>uni2159</string>
		<string>uni0418</string>
		<string>uni0422</string>
		<string>Ycircumflex</string>
		<string>dcaron</string>
		<string>uni0136</string>
		<string>uni041C</string>
		<string>uni2219</string>
		<string>Aogonek</string>
		<string>wcircumflex</string>
		<string>uni00B2</string>
		<string>guilsinglleft</string>
		<string>utilde</string>
		<string>itilde</string>
		<string>uni0430</string>
		<string>a.alt</string>
		<string>zcaron</string>
		<string>uni2152</string>
		<string>uni2158</string>
		<string>aacute.alt</string>
		<string>Ldot</string>
		<string>abreve</string>
		<string>uni0426</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>uni2010</string>
		<string>fiveeighths</string>
		<string>uni0450</string>
		<string>uni0427</string>
		<string>Gbreve</string>
		<string>zacute</string>
		<string>ncaron</string>
		<string>uni0156</string>
		<string>lslash</string>
		<string>uni0157</string>
		<string>uni0237</string>
		<string>uni2088</string>
	</array>
</dict>
</plist>
